.carousel .carousel-indicators button {
    background-color: rgba(var(--bice-blue)); /* Change color */
}

.carousel .carousel-indicators .active {
    background-color: rgba(var(--non-photo-blue));
} 

.carousel-inner {
    border-radius: 50px;
    height: 400px;
}

button.carousel-control-next, .carousel-control-prev {
    color: rgba(var(--non-photo-blue));
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circular-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    transform-origin: center center;
    backdrop-filter: blur(3px);
    box-shadow: inset 0 0 35px rgba(var(--carolina-blue), 0.8);
    border: 2px solid rgba(var(--non-photo-blue));
}
